/*RESET*/
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/*FONT*/
html{
  font-family: "Roboto", sans-serif;
}
/*MAIN*/
main{
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}
/*STRUTTURA GENERALE DELLE TRE SEZIONI*/
.sidebar{
  width: 200px;
  height: calc(100% - 100px);
  background-color: black;
}

.container-main{
  width: calc(100% - 200px);
  height: calc(100% - 100px);
  background-color: #2a2b2b;
  overflow: scroll;
  overflow-x: hidden;
}
.container-main::-webkit-scrollbar{
  display: none;
}

.container-player{
  width: 100%;
  height: 100px;
  background-color: #4e5157;
  position: fixed;
  bottom: 0;
}
/*LOGHI*/
.small-logo{
  display: none;
}
.sidebar .logo{
  padding-top: 25px;
  width: 100%;
  height: 20%;
}
.sidebar .logo img{
  width: 150px;
  height: auto;
}
/*SIDEBAR*/
.sidebar .side-header{
  width: 100%;
  height: calc(100% - 80px);
  min-height: 300px;
}
.side-header, .profile{
  margin-left: 10px;
}
.list-w{
  display: inline-block;
}
.navigator{
  width: 100%;
  height: 25%;
}
.navigator ul{
  list-style: none;
}
.navigator ul img{
  width: 20px;
  height: 20%;
  vertical-align: text-bottom;
}
.navigator ul li a{
  text-decoration: none;
  color: lightgrey;
  padding-left: 5px;
}
.navigator ul li a:hover{
  border-left: 2px solid green;
  color: white;
}
.playlist{
  width: 100%;
  height: 55%;
  overflow-y: auto;
}
.playlist::-webkit-scrollbar{
  display: none;
}
.playlist h3{
  color: white;
  font-size: 15px;
}
.playlist ul{
  list-style: none;
}
.playlist ul li a{
  color: lightgrey;
  text-decoration: none;
}
.playlist ul li a:hover{
  color: white;
}
.playlist ul li i{
  vertical-align: middle;
  margin-right: 5px;
}
.sidebar ul li{
  margin-top: 5px;
  margin-bottom: 5px;
}
.profile{
  width: 100%;
  height: 80px;
  overflow-y: auto;
}
.profile img{
  width: 20px;
  vertical-align: text-bottom;
}
.profile a{
  color: lightgrey;
  text-decoration: none;
  margin-left: 10px;
}
.profile a:last-child{
  color: white;
  font-weight: bold;
  text-decoration: none;
}
.profile a:hover{
  color: white;
}
.profile hr{
  background-color: lightgrey;
  border: 1px solid lightgrey;
  margin: auto;
}
/*BUTTON*/
.box-button{
  position: fixed;
  display: flex;
  top: 0;
  right: 0;
  width: calc(100% - 200px);
  height: 80px;
  justify-content: flex-end;
  background-color: black;
  z-index: 1;
}
.bottone{
  height: 35px;
  width: 300px;
  border-radius: 100px;
  border: 1px solid white;
  margin-top: 25px;
  text-align: center;
}
.bottone a{
  color: white;
  text-decoration: none;
  line-height: 35px;
}
.bottone:hover{
  border: 1px solid green;
}
.bottone:hover a{
  color: green;
}

/*FLEX-CONTAINER*/
.flex-container{
  display: flex;
  margin-top: 80px;
  list-style: none;
  justify-content: center;
  width: 100%;
  align-items: center;
  padding-top: 20px;
  top: 0;
  margin-left: auto;
  margin-right: auto;
}
.flex-container li{
  margin: 20px 10px;
}
.flex-container li a{
  color: lightgrey;
  text-decoration: none;
  position:relative;
}
.flex-container li a:hover{
  color: white;
}
.flex-container li a:hover::before{
  content: "";
  position: absolute;
  bottom: -5px;
  height: 1px;
  width: 50%;
  border-bottom: 2px solid green;
  margin: 0 25%;
  color: white;
}
/*MY_CONTAINER*/
.my_container{
  margin-top: 30px;
  margin-left: 10px;
}
.my_container a{
  text-decoration: none;
}
.text-r{
  text-align: left;
  color: white;
}
.recent{
  display: flex;
  text-align: center;
  margin-top: 20px;
  width: 100%;
}
.recent li{
margin: 0 10px;
width: calc((100% - 20px) / 6);
list-style: none;

}
.recent h3, .recent p{
  display: inline-block;
}
.recent h3{
  color: white;
}
.recent p{
  color: lightgrey;
}

.img{
  position: relative;
  line-height: 0;
  width: 100%;
}
.img img{
  width: 100%;
}
.overlay{
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 40px;

}
.overlay .icon{
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
}
.recent .album:hover .img .overlay{
  display: block;
}
.sugg .album:hover .img .overlay{
  display: block;
}
.sugg{
  display: flex;
  text-align: center;
  margin-top: 20px;
  justify-content: flex-start;
  width: 100%;
}
.sugg li{
  list-style: none;
  margin: 0 10px;
  width: calc((100% - 20px) / 6);

}
.create{
  margin-top: 20px;
}
.create h3{
  color: white;
}
.create p{
  color: lightgrey;
}

.sugg h3{
  color: white;
}
.sugg p{
  color: lightgrey;
}
.popular{
  margin-top: 20px;
  margin-left: 20px;
}
.popular h3{
  color: white;
}
.popular p{
  color: lightgrey;
}
.pop{
  display: flex;
  text-align: center;
  margin-top: 20px;
}
.pop img{
  width: 100%;
  border-radius: 50%;
}
.pop li{
  list-style: none;
  margin: 0 10px;
  width: calc((100% - 20px) / 6);
}
.pop .circle{
  position: relative;
}
.pop .overlay{
  border-radius: 50%;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 40px;
}
.pop .album:hover .circle .overlay{
  display: block;
}
/*CONTAINER-PLAYER*/
.container-player{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.left{
  display: flex;
  align-items: center;
  margin-left: 10px;
  flex-shrink: 0;
  flex-basis: 200px;
}
.left img{
  width: 20%;
  height: auto;
}
.left p{
  display: inline-block;
  margin-left: 10px;
}
.left i:active{
  color: green;
}
.bloc{
  margin-left: 20px;
}
.play{
  text-align: center;
}
.play i,.right i{
margin-right: 10px;
}
.play i:hover, .right i:hover{
  transform: scale(1.3);
}
.center .line{
  height: 2px;
  width: 50px;
  background-color: grey;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  position: relative;
}
.center .line::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  margin-left: 0;
  height: 2px;
  background-color: white;
}
.right{
  display: flex;
  justify-content: flex-end;
  align-content: center;
  flex-basis: 300px;
  flex-shrink: 0;
}
.volume{
  height: 2px;
  width: 100px;
  background-color: grey;
  margin-left: 5px;
  margin-right: 10px;
  align-self: center;
  position: relative;
}
.volume::before{
  content: "";
  position: absolute;
  top:0;
  left: 0;
  height: 2px;
  width: 50%;
  margin: 0;
  background-color: white;
}
/*MEDIA QUERIES*/
@media screen and (min-width: 1024px) and (max-width:1200px){
  .recent{
    display: flex;
    text-align: center;
    margin-top: 20px;
    flex-wrap: wrap;
  }
  .recent li{

    width: calc((100% -40px) / 5);
    position: relative;

  }
  .sugg li{
      width: calc((100% -40px) / 5);
  }
  .flex-container{
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
  }

.flex-container li{
  flex-basis: calc(100% / 7);
}
.pop li{
width: calc((100% -40px) / 5);
}

}
@media screen and (min-width: 769px) and (max-width:1023px){
  .recent{
    flex-wrap: wrap;
  }
  .recent li{
    width: calc(50% - 20px);
  }
  .sugg li{
    width: calc(50% - 20px);
  }
  .pop li{
      width: calc(50% - 20px);
  }
  .flex-container{
    flex-wrap: wrap;
  }
}
@media screen and (max-width:768px){
  .recent{
    flex-wrap: wrap;
  }
  .recent li{
  width: calc(50% - 20px);
  }
  .sugg li{
    width: calc(50% - 20px);
  }
  .pop li{
      width: calc(50% - 20px);
  }
  .flex-container{
    flex-wrap: wrap;
  }
  .sidebar{
    width: 100px;
  }
  .container-main{
    width: calc(100% - 100px);
  }
  .playlist{
    display: none;
  }
  .logo{
    display: none;
  }
  .small-logo{
    display: block;
    width: 30px;
    padding-top: 25px;
    margin-left: 25px;
  }
  .list-w{
    display: none;

  }
  .navigator{
    margin-left: 25px;
    padding-top: 20px;
  }
  hr{
    display: none;
  }
  .profile img{
    display: block;
    margin-left: 25px;
  }
  .box-button{
    width: calc(100% - 100px);
  }
}
